body {
  margin: 0;
  font-family: Arial;
  background: #030303;
  color: rgb(233, 226, 226);
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  position: fixed;
  width: 100%;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.logo {
  font-weight: bold;
  color: #00f7ff;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top, #111, #000);
}

.glass {
  text-align: center;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);
}

.animate {
  animation: fadeUp 1s ease-in-out;
}

@keyframes fadeUp {
  from {opacity:0; transform: translateY(30px);}
  to {opacity:1; transform: translateY(0);}
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 25px;
  border-radius: 30px;
  background: #00f7ff;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

/* GRID */
.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 60px 20px;
}

.card {
  width: 260px;
  padding: 20px;
  border-radius: 16px;
  text-decoration: none;
  color: white;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.08);
  box-shadow: 0 0 20px #00f7ff;
}

/* NEON EFFECT */
.neon {
  box-shadow: 0 0 10px rgba(0,247,255,0.2);
}

/* SELL SECTION */
.sell {
  text-align: center;
  padding: 60px 20px;
}

.glass-box {
  display: inline-block;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);
}

.buy {
  margin-top: 15px;
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  background: #ffcc00;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.buy:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #ffcc00;
}S

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: #777;
}
